.form-title {
  width: 10.876rem;
  height: 1.6rem;
  padding: 0;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}
